.brand-logo {
	text-align: center;
}

.brand-name {
	text-transform: uppercase;
	font-size: 200%;
	color: rgb(215, 58, 30);
	display: block;
}

.brand-slogan {
	color: rgb(82, 52, 104);
	text-decoration: line-through;
	padding: .2em 0;
	display: block;
}

.cart-icon {
	margin: 1em;
	width: 40px;
    height: 40px;
    display: inline-block;
    /*text-indent: -9999px;*/
}

.categories-menu {
	background-color: rgb(82, 52, 104);
	color: rgb(255, 255, 255);
}

.categories-menu a {
	color: rgb(255, 255, 255);
	font-style: italic;
	font-weight: bold;
}

.categories-menu li {
	box-sizing: border-box;
    padding: 1em;
    padding-left: 3em;
    border-top: 1px solid rgba(255,255,255,.25);
}

.login {
	text-align: center;
	padding: 1em;
	margin-top: 1.5em;
}

.btn {
	border-style: none;
    border-radius: 0.25em;
}

.special-category-btn {
	color: rgb(255, 255, 255);
    background-color: rgb(66, 42, 83);
}

.newsletter-btn {
	background-color: rgb(215, 58, 30);
	color: rgb(255, 255, 255);
	padding: .5em 1.5em;
}

.input{
    border-radius: .25em;
    border: 1px solid rgb(102, 102, 102);
}

.search-input{
    padding: 0.5em;
    margin: .5em;
}

.newsletter-input {
	padding: 0.5em;
    margin: .5em 0;
    width: 60%;
}

.newsletter-box {
	background-color: rgb(255, 255, 255);
	border-radius: .25em;
	padding: .8em;
	line-height: 2em;
}

.shipping-offer{
	background-color: rgb(230, 230, 230);
	color:  rgb(102, 102, 102);
	text-align: center;
	font-style: italic;
	padding: .5em;
}

.page-content {
	padding: 1.5em;
}

.category-name {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin: 1em;
}

.products-list li {
	color: rgb(215,58,30);
	max-width: 50%;
	display: inline-block;
	text-align: center;
	padding: .25em;
	box-sizing: border-box;
	margin-bottom: 2em;
}

.products-list li figure,
.products-list li figure img {
	width: 100%;
}

.page-footer {
	background-color: rgb(230, 230, 230);
	padding: 1em;
}

.page-footer a {
	color: rgb(215, 58, 30);
	text-transform: uppercase;
}

.social-media {
	text-align: center;
}

.social-media li {
	margin: 1em;
	width: 40px;
    height: 40px;
    display: inline-block;
    /*text-indent: -9999px;*/
}

.copyright-warning {
	text-align: center;
	color: rgb(102, 102, 102);
}

@media (min-width: 768px) {
	.products-list li {
		width: 33%;
		/*background-color: red;*/
	}
}