.page-content {
	margin-top: 24px;
}

.category-name {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.products-list {
	margin: 16px 4px;
}

.products-list li {
	color: rgb(215,58,30);
	max-width: 50%;
	display: inline-block;
	text-align: center;
	padding: 16px;
	box-sizing: border-box;
	margin: 8px 0;
	cursor: pointer;
}

.products-list li:hover {
	background-color: rgb(230, 230, 230);
}

.products-list figure,
.products-list img {
	width: 100%;
}

.products-list img {
	display: block;
	margin: 8px auto;
}

.products-list figcaption {
	white-space: nowrap;
}

.products-list figcaption em {
	color: rgb(0, 0, 0);
	font-weight: 600;
}


/*APENAS MOBILE*/

@media (max-width: 767px) {

	.products-list li {
		width: 50%;
	}

	.products-list img {
		max-width: 152px;
	}

	.products-list figcaption {
		font-size: 12px;
	}
}


/*APENAS DESKTOP*/

@media (min-width: 768px) {

	.category-name {
		font-size: 28px;
		text-align: left;
	}

	.products-list li {
		width: 33.33%;
	}

	.products-list img {
		max-width: 240px;
		max-height: 240px;
	}

	.products-list figcaption {
		font-size: 16px;
	}
}