.modal {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
}

.modal.modal-opened {
	display: block;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 4px;
	font-size: 24px;
	padding: 4px;
	cursor: pointer;
}

.modal-background {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.modal-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal-background {
	background-color: rgba(0, 0, 0, .8);
}

.modal-box {
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
    max-width: 640px;
}

.product-modal figure {
	text-align: center;
}

.product-modal figure img {
	width: 100%;
	margin: 16px auto;
}

.product-modal aside {
	margin: 0;
    padding: 0;
}

.product-modal h2,
.product-modal h3 {
	font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    margin: 20px 0 0 0;
    display: block;
}

.product-modal p,
.product-modal ul {
	font-size: 16px;
	line-height: 20px;
	margin: 12px 0;
}

.product-modal ul li {
	line-height: 20px;
}

.product-modal p.price-value {
	color: rgb(215, 58, 30);
	font-weight: bold;
    line-height: 28px;
    font-size: 24px;
    margin: 0 0 14px 0;
}

.cart-btn {
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgb(215, 58, 30);
	padding: 12px 18px;
    font-size: 16px;
}

/*APENAS MOBILE*/

@media (max-width: 767px) {

	.modal-box {
		display: block;
	    padding: 24px;
	    overflow-y: scroll;
	    width: 78%;
		height: 88%;
	}

	.product-modal figure {
		display: block;
	}

	.product-modal figure img {
		max-width: 240px;
	}

	.product-modal aside {
		display: block;
	}
}


/*APENAS DESKTOP*/

@media (min-width: 768px) {

	.modal-box {
	    width: 72%;
		height: 72%;
	}

	.modal-content {
		display: flex;
	    flex-wrap: nowrap;
	    padding: 36px 36px 36px 0;
	    height: 100%;
    	box-sizing: border-box;
	}

	.product-modal figure {
		display: inline-block;
		flex-basis: 60%;
	}

	.product-modal figure img {
		max-width: 320px;
	}

	.product-modal aside {
		display: inline-block;
		flex-basis: 40%;
		overflow-y: auto;
	}
}
