body {
	/*tamanho mínimo pelo layout*/
	min-width: 356px; 
}

.container {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 1024px;
}

.btn {
	border-style: none;
    /*border-radius: 0.25em;*/
    border-radius: 4px;
}

.input{
    /*border-radius: .25em;*/
    border-radius: 4px;
    border: 1px solid rgb(102, 102, 102);
}

.page-header {
	position: relative;
}
